:root {
  --w: 80px;
  --h: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  min-height: 100svh;
  background-color: #050505;
  animation: bodyani 10s linear infinite;
}
@keyframes bodyani {
  0% {
    background-color: #050505;
  }
  50% {
    background-color: #726d6d;
  }
}

.cube {
  position: relative;
  width: var(--w);
  height: var(--h);
  transform-style: preserve-3d;
  transform: rotateX(-0deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotatey(360deg);
  }
}

.cube div {
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  transform-style: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  background: linear-gradient(#151515, rgb(236, 4, 4));
  transform: rotatey(calc(90deg * var(--i))) translateZ(calc(var(--w) / 2));
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  background: #222;
  transform: rotateX(90deg) translateZ(calc(var(--w) / 2));
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--w);
  height: var(--h);
  background: #0f0;
  transform: translateZ(calc(var(--w) * -1.26));
  filter: blur(20px);
  box-shadow: 0 0 102px rgba(0, 255, 0, 0.2), 0 0 102px rgba(0, 255, 0, 0.4),
    0 0 102px rgba(0, 255, 0, 0.6), 0 0 102px rgba(0, 255, 0, 0.8),
    0 0 102px rgba(0, 255, 0, 1);
}
